<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<div th:if="${books.size()} == 0">
    <p>Человек пока не взял ни одной книги</p>
</div>
<div th:if="${books.size()} != 0">
    <b><p>Книги:</p></b>
<!--    <div th:if="${book.} == true"></div>-->
    <div th:each="book:${books}">
        <div style="color:red" th:if="${book.isOverdue()} == true">
            <p th:text="${book.getName()}">book_name</p>
        </div>
        <div th:if="${book.isOverdue()} == false">
            <p th:text="${book.getName()}">book_name</p>
        </div>
    </div>
<!--    <p  th:each="book:${books}" th:text="${book.getName()}">book_name</p>-->
<!--    <p  th:each="book:${books}" th:text="${book.isOverdue()}">book_name</p>-->
</div>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}"><input type="submit" value="Редактировать"/></a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>