<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" th:href="@{http://localhost:8080/styles/css/style.css}"/>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<div th:if="${books.size()} == 0">
    <p>Человек пока не взял ни одной книги</p>
</div>
<div th:if="${books.size()} != 0">
    <b><p>Книги:</p></b>
    <div th:each="book:${books}">
        <div style="color:red" th:if="${book.isOverdue()} == true">
            <p th:text="${book.getName()}">book_name</p>
        </div>
        <div th:if="${book.isOverdue()} == false">
            <p th:text="${book.getName()}">book_name</p>
        </div>
    </div>
</div>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">
    <button type="submit" class="button">Редактировать</button>
</a>
<br/>
<br/>

<a th:href="@{/auth/logout}">
    <button type="submit" class="button">Выйти</button>
</a>
<br/>
<div th:if="${isAdmin} == true">
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <button type="submit" class="button">Удалить</button>
    </form>
</div>
</body>
</html>