<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{http://localhost:8080/styles/css/style.css}"/>
</head>
<body>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
    th:text="${book.getName() + ', ' + book.getAuthor() + ', ' +  book.getYearOfIssue()}">book</a>
</div>
<br/>
<form action="/books/new" method="get">
    <button type="submit" class="button">Добавить книгу</button>
</form>
<br/>
<form action="/people" method="get">
    <button type="submit" class="button">Перейти к людям</button>
</form>
<br/>
<form action="/books/search" method="get">
    <button type="submit" class="button">Поиск книг</button>
</form>
</body>
</html>