<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' +  book.getYearOfIssue()}">book</p>
<div th:if="${book.getOwner()} == null">
    <p>Эта книга свободна. Кому ее назначить?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/add(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person: ${people}" th:value="${person.getId()}"
                    th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="назначить книгу">
    </form>
</div>
<div th:if="${book.getOwner()} != null">
    <a>Книга сейчас у: </a> <a th:text="${book.getOwner().getName()}">personName</a>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>

<hr/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}"><input type="submit" value="Редактировать"/></a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Удалить"/>
</form>
</body>
</html>

<!--<body>-->
<!--<form th:method="PATCH" th:action="@{/admin/add}">-->
<!--    <label for="person">chose admin</label>-->
<!--    <select th:object="${person}" th:field="*{id}" id="person">-->
<!--        <option th:each="person: ${people}" th:value="${person.getId()}"-->
<!--                th:text="${person.getName()}">-->

<!--        </option>-->
<!--    </select>-->
<!--    <input type="submit" value="set admin">-->
<!--</form>-->
<!--</body>-->