<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" th:href="@{http://localhost:8080/styles/css/style.css}"/>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' +  book.getYearOfIssue()}">book</p>
<div th:if="${book.getOwner()} == null">
    <p>Эта книга свободна. Кому ее назначить?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/add(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person: ${people}" th:value="${person.getId()}"
                    th:text="${person.getName()}">
            </option>
        </select>
        <button type="submit" class="button">Назначить книгу</button>
    </form>
</div>
<div th:if="${book.getOwner()} != null">
    Книга сейчас у: <a th:href="@{/people/{id}(id=${book.getOwner().getId()})}" th:text="${book.getOwner().getName()}" >personName</a>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <button type="submit" class="button">Освободить книгу</button>
    </form>
</div>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">
    <button type="submit" class="button">Редактировать</button>
</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <button type="submit" class="button">Удалить</button>
</form>
</body>
</html>
